

*,
*:before,
*:after {
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
}

html {
    width: 100vw; 
    min-width: 100vw; 
    overflow-x: hidden; 
}

body {
    font-family: "Poppins";
    padding: 0;
    color: #333;
    font-size: 22px;
    background-color: #fff;
    line-height: 1.6;
    overflow-x: hidden; 
}


header {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100vw; 
    z-index: 1000; 
    transition: top 0.3s ease-in-out;
    
}

.logo {
    height: 100px; 
}


nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    font-family: "Poppins";
    text-decoration: none;
    font-size: 22px;
    padding: 5px 10px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #aaaaaa; 
}



.main-header {
    background: url('student_p_image.png') no-repeat center center;
    background-size: cover;
    background-attachment: fixed; 
    font-size: 48px;
    position: relative;
    width: 100vw; 
    height: 45vh; 
    margin-left: calc(-50vw + 50%); 
    z-index: 1; 
    padding-left: 20px;
    
}
.overlay {
    position: absolute;
    font-family: "Poppins";
    font-size: 42px;
    bottom: 0; 
    padding-left: 60px; 
    width: 100%; 
    padding: 20px; 
    z-index: 2; 
    text-align: left; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body {
    background-color: #f5f5f5;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 17px;
    text-align: center;
  }

  .row p {
    text-align: center;
    font-size: 20px;
    width: 75%;
    margin-left: 13%;
    margin-bottom: 3%;
  }

  .column {
    
    width: 100%;
    padding: 0.5em 0;
  }

    
  h2 {
    font-size: 48px;
    width: 100%;
  }


  
  .card {
    box-shadow: 0 0 2.4em rgba(25, 0, 58, 0.1);
    padding: 3.5em 1em;
    border-radius: 0.6em;
    color: #1f003b;
    cursor: pointer;
    transition: 0.3s;
    background-color: #ffffff;
  }
  .card .img-container {
    width: 8em;
    height: 8em;
    background-color: #51aafe;
    padding: 0.5em;
    border-radius: 50%;
    margin: 0 auto 2em auto;
    
  }
  .card img {
    width: 100%;
    border-radius: 50%;
  }
  .card h3 {
    font-weight: 500;
  }
  .card p {
    margin-right: -75%;
    font-weight: 300;
    text-transform: uppercase;
    
    letter-spacing: 2px;
  }
  .icons {
    width: 50%;
    min-width: 180px;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  .card a {
    text-decoration: none;
    color: inherit;
    font-size: 1.4em;
  }
  .card:hover {
    background: linear-gradient(#004687, #007aed);
    color: #ffffff;
  }
  .card:hover .img-container {
    transform: scale(1.15);
  }
  @media screen and (min-width: 768px) {
    section {
      padding: 1em 7em;
    }
  }
  @media screen and (min-width: 992px) {
    section {
      padding: 1em;
    }
    .card {
      padding: 5em 1em;
    }
    .column {
      flex: 0 0 33.33%;
      max-width: 33.33%;
      padding: 0 1em;
    }
  }

footer {
    background-color: #232323;
    color: white;
    text-align: center;
    padding: 20px 0;
    clear: both; 
}

footer nav ul {
    justify-content: center;
    padding: 0; 
}

footer nav ul li a {
    color: white;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

footer nav ul li a:hover {
    background-color: #575757;
    border-radius: 5px;
}

@media only screen and (max-width: 1400px) {
    body {
        font-size: 16px; 
    }

    header {
        padding: 0.5em 1em; 
        flex-direction: column; 
        text-align: center;
    }

    .logo {
        height: 30px; 
    }

    nav ul {
        margin-top: 10px; 
        flex-direction: column; 
        align-items: center;
    }

    nav ul li {
        margin: 5px 0; 
    }

    nav ul li a {
        padding: 5px 20px; 
    }

    .main-header {
        height: 60vh; 
        background-attachment: scroll; 
    }

    .overlay {
        font-size: 16px; 
        padding-top: 300px; 
        position: static; 
        transform: none; 
    }

    
    main {
        margin-top: -60vh; 
        padding-top: 60vh; 
    }
    
    
}


@media only screen and (max-width: 1400px) {
    .company-section {
        width: auto; 
        padding: 20px; 
    }

    .company-box {
        width: 100%; 
        margin-bottom: 20px; 
    }


    .company-title, .company-title-link {
        font-size: 18px; 
    }

    .company-description {
        font-size: 14px; 
        padding: 10px; 
    }

    .learn-more-btn {
        padding: 10px; 
        font-size: 14px; 
    }

    
    .company-box:hover .company-image,
    .company-box:hover .company-title-link {
        transform: none;
        color: inherit;
    }
}



 
  
 