/* Basic Reset */
*,
*:before,
*:after {
    box-sizing: border-box; /* Use border-box box model */
    margin: 0; /* Reset margin */
    padding: 0; /* Reset padding */
}

html {
    width: 100vw; /* Full viewport width */
    min-width: 100vw; /* Minimum viewport width */
    overflow-x: hidden; /* Prevent horizontal scroll */
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    color: #333;
    font-size: 22px;
    background-color: #fff;
    line-height: 1.6;
    overflow-x: hidden; /* Prevent horizontal scroll */
}

/* Header */
header {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    position: fixed; /* Fixed position */
    top: 0; /* Stick to the top */
    left: 0; /* Align to the left */
    width: 100vw; /* Full viewport width */
    z-index: 1000; /* High z-index to ensure it's on top */
    transition: top 0.3s ease-in-out;
    
}

.logo {
    height: 100px; /* Adjust the logo size */
}

/* Navigation Menu */
nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #aaaaaa; /* Lighter color for hover state */
}

/* Main Header Image */
/* Main Header Image - Ensure it stretches fully and is fixed during scroll */
.main-header {
    background: url('combo_3.png') no-repeat center center;
    background-size: cover;
    background-attachment: fixed; /* Fix the background image during scroll */
    font-size: 48px;
    position: relative;
    width: 100vw; /* Viewport width */
    height: 100vh; /* Full viewport height */
    margin-left: calc(-50vw + 50%); /* Center align the background */
    z-index: 1; /* Ensure it's below the fixed header */
}
.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; /* Above the background image but below the header */
}

.main-header h1, .main-header p {
    color: white; /* White text for visibility */
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5); /* Text shadow for better readability */
}

/* Main Content */
main {
    
    margin-top: -100vh; /* Pull main content up to sit below the header */
    padding-top: 100vh; /* Add padding to push the content down, equal to the header's height */
}

/* Styling the Discover Enzi Section */
#discover {
    background-color: white; /* Light gray background */
    font-family: Arial;
    padding: 40px 0;
    text-align: center;
    /* border-radius: 5px;
    margin: 20px; */
    width: 100%; /* Set the discover section to full page width */
    overflow: hidden; /* Clear the float */
    display: flex; /* Use Flexbox */
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center-align items */

}

/* Styling the heading */
#discover h2 {
    color: #333; /* Darker text color for the heading */
    font-size: 48px;
    margin-bottom: 10px;
}

/* Styling the paragraph */
#discover p {
    color: #666; /* Lighter text color for the paragraph */
    text-align: center; /* Center-align the text */
    font-size: 20px; /* Set the font size */
    margin: 20px auto; /* Vertical margins of 20px, horizontal auto for centering */
    max-width: 1000px; /* Maximum width of the paragraph */
}

#discover .video-container {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px; /* Added space below the button */
}

#discover .watch-story-btn {
    display: inline-block;
    background-color: transparent; /* Keeps the background transparent */
    color: #004687; /* Navy blue text color */
    border: 2px solid #004687; /* Navy blue border */
    padding: 15px 30px; /* Increased padding for a larger button */
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
    font-size: 20px; /* Increased font size */
}

#discover .watch-story-btn:hover {
    background-color: #004687;
    color: white; /* White text color on hover */
    text-decoration: underline; /* Underline text on hover */
}

/* Styling the buttons */
#discover button {
    width: 100%; 
    padding: 50px; /* Adjust padding as needed */
    margin: 0; /* Remove margin to extend to the edges */
    background-color: #004687; /* Example color */
    color: white;
    border: 2px solid #004687; /* Border of the same color */
    font-size: 24px;
    display: inline-block; /* Ensures buttons are in a line */
    box-sizing: border-box; /* Includes padding and border in the width */
    border-radius: 0; /* Hard corners */
    flex-grow: 1; /* Allow buttons to grow and fill the container */
    /* Other button styles remain the same */
    margin: 0; 
    
}
/* Button hover effect */
#discover div.buttons-container {
    width: 100%; /* Full width */
    display: flex;
    justify-content: stretch; /* Use Flexbox for buttons */
    margin: 0;
}

#discover button:hover {
    background-color: #003366; 
}

#discover button:after {
    /* Arrow style */
    content: '>'; /* Default arrow pointing right */
    font-size: 24px;
    transition: transform 0.3s ease; /* Smooth transition for transform */
    display: inline-block; /* Smooth transition for transform */
}

#discover button.active:after {
    transform: rotate(90deg); /* Rotates arrow for active state */
}

#discover button.active {
    background-color: #003366; /* Darker color for active state */
}

#options div {
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd; /* Optional border */
    margin-top: 10px;
}

.profiles-container {
    display: flex; /* Enables Flexbox */
    justify-content: center; /* Horizontally center the items */
    flex-wrap: wrap; /* Allows items to wrap to the next line */
}

.profile {
    margin: 20px;
    text-align: center;
    /* The rest of your .profile styles */
}
/* profile styles */
.profile {
    text-align: center;
    margin: 20px;
}

.profile-pic {
    width: 150px; /* Adjust as needed */
    height: 150px; /* Adjust as needed */
    border-radius: 50%; /* Circular image */
    margin-bottom: 10px;
}

.profile-name {
    font-size: 20px;
    margin-bottom: 5px;
}

.profile-title {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
}

.profile-bio {
    font-size: 14px;
    color: #333;
    max-width: 400px; /* Set a maximum width for the bio */
    margin: 0 auto; /* Center the text block */
    text-align: left; /* Optional: Align text to the left */
}


/* Company Sections */

.company-section {
    width: calc(350px * 3 + 30px * 2); /* For three boxes per row with 20px gap */
    padding-top: 50px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 30px;
    margin: auto; /* Centers the section */
}

.company-box {
    width: 350px;
    text-align: center;
    overflow: hidden;
    border: 1px solid #ddd;
}
.image-container {
    overflow: hidden; /* Prevents the image from overflowing */
    height: auto; /* Set to desired height */
    display: flex; /* Keeps the image centered */
    justify-content: center;
    align-items: center;
}

.company-box:hover .company-image {
    transform: scale(1.1); /* Slightly enlarges the image */
    transition: transform 0.3s ease; /* Smooth transition effect */
}


.company-image {
    width: 100%; /* Ensures the image takes up the entire width */
    height: auto; /* Maintains the aspect ratio of the image */
    display: block; /* Removes any default inline spacing */
    margin: 0;
}

.company-box:hover .company-image {
    transform: scale(1.1); /* Slightly enlarges the image */
    transition: transform 0.3s ease; /* Smooth transition effect */
}


.company-title {
    font-size: 20px; /* Adjust as needed */
    margin-bottom: 10px; /* Spacing between title and image */
    color: #333; /* Adjust color as needed */
}

.company-title-link {
    text-decoration: none; /* Removes underline */
    font-size: 20px; /* Adjust as needed */
    margin-bottom: 10px; /* Spacing between title and image */
    color: #333; 
}

.company-box:hover .company-title-link {
    color: #004687; /* Changes color to blue on hover */
}


.company-description {
    font-size: 16px;
    margin-bottom: 20px;
    padding: 20px;
}

.learn-more-btn {
    display: inline; /* Change to inline for link-like appearance */
    font-size: 16px;
    background-color: transparent; /* No background */
    color: #004687; /* Example color, adjust as needed */
    padding: 20px; /* Remove padding */
    text-decoration: none; /* Remove default underline */
    border: none; /* Remove border */
}

.learn-more-btn:hover {
    text-decoration: underline; /* Underline on hover */
}





.image-background-section {
    padding: 100px;
    background-image: url('nairobi_2.jpeg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 400px;
    margin-top: 100px;
}

.navy-blue-box {
    background-color: #003366;
    padding: 80px;
    margin-left: 0px;
    color: white;
    width: 500px;
}

.navy-blue-box h2 {
    font-size: 10px; /* Adjust size as needed */
    margin-bottom: 30px;
}

.navy-blue-box h3 {
    font-size: 32px; /* Adjust size as needed */
    margin-bottom: 20px;
}

.navy-blue-box p {
    font-size: 18px; /* Adjust size as needed */
}




/* Our Program Section */
.our-program-section {
    margin-top: 50px;
    background-color: #f5f5f5;
    padding: 50px;
    text-align: left;
}

.our-program-section h2 {
    font-size: 48px;
    margin-bottom: 30px;
    font-weight: normal;
}




.internship-section {
    position: relative; /* Needed for arrow positioning */
    background-color: #f5f5f5;
    padding: 50px;
    overflow: hidden;
    display: flex; /* Enables flexbox layout */
    justify-content: center; /* Centers items horizontally */
    flex-wrap: wrap; /* Allows items to wrap to the next line */
    gap: 30px; /* Spacing between boxes */
    padding: 50px; /* Background color */
    
}

.program-box-container {
    display: flex;
    overflow-x: auto;
    gap: 30px;
    width: calc(300px * 3 + 60px);
}

.scroll-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #004687;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.left-arrow {
    left: 10px;
}

.right-arrow {
    right: 10px;
}


.internship-section .program-box {
    flex: 0 0 300px;
    background-color: white; /* White background for each box */
    border: 1px solid #ddd; /* Border for the boxes */
    width: calc(33% - 40px); /* Adjusted width for each box */
    text-align: center; /* Aligns text to the center */
    padding: 20px; /* Padding inside each box */
}

.internship-section .program-box h3 {
    font-size: 28px; /* Font size for the title */
    color: #004687; /* Color of the title */
    margin-bottom: 15px; /* Space below the title */
}

.internship-section .program-box p {
    font-size: 15px; /* Font size for the description */
    margin-bottom: 20px; /* Space below the description */
}

.internship-section .program-box a {
    font-size: 10px; /* Font size for the description */
    margin-bottom: 20px; /* Space below the description */
}




/* Add your existing styles for .internship-section and .program-box */



















.program {
    text-align: center;
    margin-bottom: 40px;
    font-size: 16px;
}

.intro h1 {
    font-size: 2.8em;
    margin-bottom: 0.5em;
}

.tagline {
    font-size: 1.4em;
    color: #555;
    margin-bottom: 20px;
}

/* Buttons */
button {
    background-color: #008cba;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #005f6b;
    color: white;
}

/* Footer */
footer {
    background-color: #232323;
    color: white;
    text-align: center;
    padding: 20px 0;
    clear: both; /* Ensures footer is at the bottom of all content */
}

footer nav ul {
    justify-content: center;
    padding: 0; /* Removes default padding */
}

footer nav ul li a {
    color: white;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

footer nav ul li a:hover {
    background-color: #575757;
    border-radius: 5px;
}








/* ... Existing CSS ... */

/* Responsive Styles */
@media only screen and (max-width: 1400px) {
    body {
        font-size: 18px; /* Smaller font size for mobile */
    }

    header {
        padding: 0.5em 1em; /* Smaller padding for header */
        flex-direction: column; /* Stack elements vertically */
        text-align: center;
    }

    .logo {
        height: 60px; /* Smaller logo for mobile */
    }

    nav ul {
        margin-top: 10px; /* Additional margin for the stacked nav */
        flex-direction: column; /* Stack the menu items vertically */
        align-items: center;
    }

    nav ul li {
        margin: 5px 0; /* Adjust margin for stacked items */
    }

    nav ul li a {
        padding: 5px 20px; /* Larger padding for easier tapping */
    }

    .main-header {
        height: 60vh; /* Adjust header height for mobile */
        background-attachment: scroll; /* Change background attachment for better performance */
    }

    .overlay {
        font-size: 24px; /* Smaller font size for the overlay text */
        padding: 10px; /* Adjust padding */
        position: static; /* Reset position */
        transform: none; /* Reset transform */
    }

    /* Adjust main content padding */
    main {
        margin-top: -60vh; /* Adjust to match the new header size */
        padding-top: 60vh; /* Adjust to match the new header size */
    }
    
    /* Additional responsive adjustments can be added here */
}
