*,
*:before,
*:after {
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
}

html {
    width: 100vw; 
    min-width: 100vw; 
    overflow-x: hidden; 
}

body {
    background-color: #f0f0f0;
    font-family: "Poppins";
    padding: 0;
    color: #333;
    font-size: 22px;
    line-height: 1.6;
    overflow-x: hidden; 
}


header {
    background-color: #004687;
    height: 20vw;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1em 2em;
    position: relative; 
    top: 0; 
    left: 0; 
    width: 100vw; 
    z-index: 1000; 
    transition: top 0.3s ease-in-out;
    
}

.logo {
    height: 65px; 
}


nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #aaaaaa; 
}



.main-header {
    position: relative; 
    z-index: 1001; 
    background: url('/static/images/intern_image.png') no-repeat center center;
    font-family: "Poppins";
    background-size: cover;
    background-attachment: fixed;
    font-size: 48px;
    position: relative;
    width: 85vw;
    height: 40vh; 
    left: 42%; 
    transform: translateX(-50%); 
    margin-left: auto;
    margin-right: auto;
    top: -200px; 
}



.overlay {
    position: absolute;
    
    bottom: 0; 
    left: 0; 
    width: 100%; 
    padding: 20px; 
    z-index: 2; 
    text-align: left; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}


.main-header h1, .main-header p {
    color: white; 
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5); 
}


main {
    
    margin-top: -100vh; 
    padding-top: 100vh; 
}

#programs {
    position: relative;
    background: #fff; 
    width: 80vw;
    margin-top: -300px; 
    z-index: 1002; 
    left: 50%; 
    transform: translateX(-50%); 
    
}

#programs .scroll-to-application {
    position: fixed; 
    top: 5%; 
    right: 10%; 
    width: 150px;
    display: inline-block;
    background-color: transparent; 
    color: #004687; 
    border: 2px solid #004687; 
    padding: 10px 20px; 
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease; 
    font-size: 16px;
    cursor: pointer;
    text-align: center; 
    z-index: 1003; 
}


#application-section:target + #programs .scroll-to-application {
    display: none;
}

#programs .scroll-to-application:hover {
    background-color: #004687; 
    color: white; 
}


#programs h2 {
    font-size: 16px
    
}

#programs .column {
    width: 70%; 
    padding:3.38rem; 
    box-sizing: border-box; 
    
}

#programs h2 {
    font-size: 36px;
    
}

#programs h3 {
    font-size: 30px;
    margin-top: 40px;
    
}

#programs p {
    margin-top: 40px;
    font-size: 16px;
    
}

#programs ul {
    font-size: 16px;
    margin-top: 20px; 
    padding-left: 20px; 
    
}

#programs li {
    font-size: 16px;
    margin-bottom: 10px; 
    
}

#application-section {
    background-color: #fff;
    padding: 50px;
    width: 80vw;
    position: relative; 
    left: 50%; 
    transform: translateX(-50%); 
    margin-top: 2px; 
    z-index: 1001; 
    box-sizing: border-box; 
}

#application-section .form-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

#application-section .form-field {
    width: calc(50% - 15px); 
    margin-bottom: 20px;
}

#application-section label {
    display: block;
    margin-bottom: 5px;
    font-weight: normal;
    font-size: 16px
}

#application-section input[type="text"],
#application-section input[type="email"],
#application-section input[type="tel"],
#application-section input[type="file"] {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
}

#application-section .button-row {
    display: flex;
    flex-direction: column; 
    gap: 10px;
}

#application-section .upload-button,
#application-section button[type="submit"] {
    background-color: #004687;
    color: white;
    padding: 10px;
    border-radius: 0;
    cursor: pointer;
    font-weight: normal;
    text-transform: normal;
    display: block; 
    text-align: center;
}

#application-section .upload-button:hover,
#application-section button[type="submit"]:hover {
    background-color: #004687;
}

.file-upload {
    margin-top: 20px; 
    text-align: left; 
}

.file-upload-text {
    display: block; 
    font-weight: normal;
    margin-bottom: 5px; 
    font-size: 16px;
}
.file-upload-subtext {
    display: block; 
    font-weight: normal;
    margin-bottom: 5px; 
    font-size: 12px;
}

.file-upload-button {
    width: 300px;
    display: inline-block;
    background-color: transparent; 
    color: #004687; 
    border: 2px solid #004687; 
    padding: 10px 20px; 
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease; 
    font-size: 16px;
    cursor: pointer;
}

.file-upload-button:hover {
    background-color: #004687; 
    color: white; 
}

.file-input {
    display: none; 
}

.submit-button {
    background-color: #004687;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    display: block; 
    margin-top: 30px;
}

.submit-button:hover {
    background-color: #004687;
}

.identification-section {
    margin-top: 80px; 
    text-align: left; 
}

.identification-text {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

.identification-subtext {
    padding-top: 20px;
    text-align: left;
    font-size: 16px;
    font-weight: normal;
    width: 66.66%; 
    
    padding-bottom: 20px;
}


.identification-field {
    margin-bottom: 15px;
}

.identification-label {
    display: block;
    font-weight: normal;
    margin-bottom: 5px;
}

.identification-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

.identification-field {
    width: calc(50% - 10px); 
    margin-bottom: 20px;
}

.identification-label {
    display: block;
    margin-bottom: 5px;
    font-weight: normal;
    font-size: 16px;
}

.identification-select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff; 
    color: #333; 
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none; 
    position: relative; 
    font-size: 16px;
    cursor: pointer;
}

.identification-select:hover {
    border-color: #004687; 
}

.identification-select::after {
    
    content: '';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    border: 5px solid transparent;
    border-top-color: #004687; 
    pointer-events: none; 
}




@media only screen and (max-width: 800px) {
    body {
        font-size: 18px; /* Smaller font size for mobile */
    }

    header {
        flex-direction: column; /* Stack elements vertically */
        height: auto; /* Adjust height for mobile */
        align-items: center;
    }

    .logo {
        height: 50px; /* Smaller logo for mobile */
    }

    nav ul {
        flex-direction: column; /* Stack nav items vertically */
        align-items: center;
    }

    nav ul li {
        margin: 10px 0; /* Adjust margin for stacked items */
    }

    .main-header {
        width: 100vw; /* Full width for mobile */
        height: 30vh; /* Adjusted height for mobile */
        left: 0;
        transform: translateX(0); /* Reset transform for mobile */
    }

    .main-header h1, .main-header p {
        font-size: 36px; /* Adjust font size for mobile */
    }

    main {
        margin-top: -75vh; /* Adjust margin top based on new header height */
    }

    #programs {
        width: 95vw; /* Increase width for smaller screens */
        margin-top: -250px; /* Adjust margin */
    }

    #programs .column {
        width: 100%; /* Full width for columns */
        padding: 2rem; /* Adjust padding */
    }

    #application-section {
        width: 95vw; /* Use more of the viewport width */
        padding: 20px; /* Reduce padding for smaller screens */
    }

    #application-section .form-grid {
        gap: 5px; /* Reduce gap */
    }

    #application-section .form-field {
        width: 100%; /* Full width for each field */
    }

    #application-section .button-row {
        flex-direction: column; /* Keep buttons in a column */
    }

    #application-section .upload-button,
    #application-section button[type="submit"] {
        padding: 15px; /* Increase padding for easier tapping */
    }

    .file-upload-button, .submit-button {
        width: 100%; /* Full width for buttons */
    }
    footer {
        padding: 20px; /* Adjust padding */
        text-align: center; /* Center align text */
    }

    .overlay {
        font-size: 24px; /* Adjust font size */
        padding: 15px; /* Adjust padding */
    }

    .identification-section {
        padding: 15px; /* Adjust section padding */
    }
    body {
        font-size: 18px; /* Reduce font size */
    }

    h1, h2, h3 {
        font-size: 1.5em; /* Scale down heading sizes */
    }

    p {
        line-height: 1.5; /* Adjust line height for readability */
    }
}
