*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    width: 100vw;
    min-width: 100vw; 
    overflow-x: hidden; 
}

body {
    font-family: "Poppins", Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    color: #333;
    font-size: 22px;
    background-color: #fff;
    line-height: 1.6;
    overflow-x: hidden;
}


header {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100vw; 
    z-index: 1000; 
    transition: top 0.3s ease-in-out;
    
}

.logo {
    height: 100px; 
}


nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    font-family:"Poppins";
    color: white;
    text-decoration: none;
    font-size: 22px;
    padding: 5px 10px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #aaaaaa; 

}
.main-header {
    background: url('combo_3.png') no-repeat center center;
    background-size: cover;
    background-attachment: fixed; 
    font-size: 48px;
    position: relative;
    width: 100vw; 
    height: 100vh; 
    margin-left: calc(-50vw + 50%);
    z-index: 1; 
}
.overlay {
    font-family:"Poppins";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; 
}

.main-header h1, .main-header p {
    color: white; 
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}


main {
    
    margin-top: -100vh; 
    padding-top: 100vh; 
}


#discover {
    background-color: white;
    font-family: Arial;
    padding: 40px 0;
    text-align: center;
    width: 100%; 
    overflow: hidden; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 

}


#discover h2 {
    color: #333; 
    font-size: 48px;
    margin-bottom: 10px;
}


#discover p {
    color: #666; 
    text-align: center;
    font-size: 20px; 
    margin: 20px auto; 
    max-width: 1000px; 
}

#discover .video-container {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px; 
}

#discover .watch-story-btn {
    display: inline-block;
    background-color: transparent; 
    color: #004687; 
    border: 2px solid #004687; 
    padding: 15px 30px; 
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease; 
    font-size: 20px; 
}

#discover .watch-story-btn:hover {
    background-color: #004687;
    color: white; 
    text-decoration: underline; 
}


#discover button {
    width: 100%; 
    padding: 50px; 
    margin: 0; 
    background-color: #004687; 
    color: white;
    border: 2px solid #004687; 
    font-size: 24px;
    display: inline-block; 
    box-sizing: border-box; 
    border-radius: 0; 
    flex-grow: 1; 
    
    margin: 0; 
    
}

#discover div.buttons-container {
    width: 100%; 
    display: flex;
    justify-content: stretch; 
    margin: 0;
}

#discover button:hover {
    background-color: #003366; 
}

#discover button:after {
    
    content: '>'; 
    font-size: 24px;
    transition: transform 0.3s ease; 
    display: inline-block; 
}

#discover button.active:after {
    transform: rotate(90deg); 
}

#discover button.active {
    background-color: #003366; 
}

#options div {
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd; 
    margin-top: 10px;
}

.profiles-container {
    display: flex; 
    justify-content: center; 
    flex-wrap: wrap; 
}

.profile {
    margin: 20px;
    text-align: center;
    
}

.profile {
    text-align: center;
    margin: 20px;
}

.profile-pic {
    width: 150px; 
    height: 150px; 
    border-radius: 50%; 
    margin-bottom: 10px;
}

.profile-name {
    font-size: 20px;
    margin-bottom: 5px;
}

.profile-title {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
}

.profile-bio {
    font-size: 14px;
    color: #333;
    max-width: 400px; 
    margin: 0 auto; 
    text-align: left; 
}




.company-section {
    width: calc(350px * 3 + 30px * 2); 
    padding-top: 50px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 30px;
    margin: auto; 
}

.company-box {
    width: 350px;
    text-align: center;
    overflow: hidden;
    border: 1px solid #ddd;
}
.image-container {
    overflow: hidden; 
    height: auto; 
    display: flex; 
    justify-content: center;
    align-items: center;
}

.company-box:hover .company-image {
    transform: scale(1.1); 
    transition: transform 0.3s ease; 
}


.company-image {
    width: 100%; 
    height: auto; 
    display: block; 
    margin: 0;
}

.company-box:hover .company-image {
    transform: scale(1.1); 
    transition: transform 0.3s ease; 
}


.company-title {
    font-size: 20px; 
    margin-bottom: 10px; 
    color: #333; 
}

.company-title-link {
    text-decoration: none; 
    font-size: 20px; 
    margin-bottom: 10px; 
    color: #333; 
}

.company-box:hover .company-title-link {
    color: #004687; 
}


.company-description {
    font-size: 16px;
    margin-bottom: 20px;
    padding: 20px;
}

.learn-more-btn {
    display: inline; 
    font-size: 16px;
    background-color: transparent; 
    color: #004687; 
    padding: 20px; 
    text-decoration: none; 
    border: none; 
}

.learn-more-btn:hover {
    text-decoration: underline; 
}





.image-background-section {
    padding: 100px;
    background-image: url('nairobi_2.jpeg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 400px;
    margin-top: 100px;
}

.navy-blue-box {
    background-color: #003366;
    padding: 80px;
    margin-left: 0px;
    color: white;
    width: 500px;
}

.navy-blue-box h2 {
    font-size: 10px; 
    margin-bottom: 30px;
}

.navy-blue-box h3 {
    font-size: 32px; 
    margin-bottom: 20px;
}

.navy-blue-box p {
    font-size: 18px; 
}





.our-program-section {
    margin-top: 50px;
    background-color: #f5f5f5;
    padding: 50px;
    text-align: left;
}

.our-program-section h2 {
    font-size: 48px;
    margin-bottom: 30px;
    font-weight: normal;
}




.internship-section {
    position: relative; 
    background-color: #f5f5f5;
    padding: 50px;
    overflow: hidden;
    display: flex; 
    justify-content: center; 
    flex-wrap: wrap; 
    gap: 30px; 
    padding: 50px; 
    
}

.program-box-container {
    display: flex;
    overflow-x: auto;
    gap: 30px;
    width: calc(300px * 3 + 60px);
}

.scroll-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #004687;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.left-arrow {
    left: 10px;
}

.right-arrow {
    right: 10px;
}


.internship-section .program-box {
    flex: 0 0 300px;
    background-color: white; 
    border: 1px solid #ddd; 
    width: calc(33% - 40px); 
    text-align: center; 
    padding: 20px; 
}

.internship-section .program-box h3 {
    font-size: 28px; 
    color: #004687; 
    margin-bottom: 15px; 
}

.internship-section .program-box p {
    font-size: 15px; 
    margin-bottom: 20px; 
}

.internship-section .program-box a {
    font-size: 10px; 
    margin-bottom: 20px; 
}
























.program {
    text-align: center;
    margin-bottom: 40px;
    font-size: 16px;
}

.intro h1 {
    font-size: 2.8em;
    margin-bottom: 0.5em;
}

.tagline {
    font-size: 1.4em;
    color: #555;
    margin-bottom: 20px;
}


button {
    background-color: #008cba;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #005f6b;
    color: white;
}


footer {
    background-color: #232323;
    color: white;
    text-align: center;
    padding: 20px 0;
    clear: both; 
}

footer nav ul {
    justify-content: center;
    padding: 0; 
}

footer nav ul li a {
    color: white;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

footer nav ul li a:hover {
    background-color: #575757;
    border-radius: 5px;
}











@media only screen and (max-width: 1400px) {
    body {
        font-size: 16px; 
    }

    header {
        padding: 0.5em 1em; 
        flex-direction: column; 
        text-align: center;
    }

    .logo {
        height: 30px; 
    }

    nav ul {
        margin-top: 10px; 
        flex-direction: column; 
        align-items: center;
    }

    nav ul li {
        margin: 5px 0; 
    }

    nav ul li a {
        padding: 5px 20px; 
    }

    .main-header {
        height: 60vh; 
        background-attachment: scroll; 
    }

    .overlay {
        font-size: 16px; 
        padding-top: 300px; 
        position: static; 
        transform: none; 
    }

    
    main {
        margin-top: -60vh; 
        padding-top: 60vh; 
    }
    
    
}


@media only screen and (max-width: 1400px) {
    .company-section {
        width: auto; 
        padding: 20px; 
    }

    .company-box {
        width: 100%; 
        margin-bottom: 20px; 
    }


    .company-title, .company-title-link {
        font-size: 18px; 
    }

    .company-description {
        font-size: 14px; 
        padding: 10px; 
    }

    .learn-more-btn {
        padding: 10px; 
        font-size: 14px; 
    }

    
    .company-box:hover .company-image,
    .company-box:hover .company-title-link {
        transform: none;
        color: inherit;
    }
}


