<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Responsive Our Team Section</title>
    
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap"
      rel="stylesheet"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about_us-style.css') }}" />
  </head>


  <body>
    <header>
        <img src="Enzi-logo-400px.png" alt="Logo" class="logo">
        <nav>
            <ul>
                <li><a href="/" target="_blank">Home</a></li>
                <li><a href="https://enzimotors.com/" target="_blank">Enzimotors</a></li>
                <li><a href="/opp" target="_blank">Opportunities</a></li>
                <li><a href="/about_us" target="_blank">About Us</a></li>
                <li><a href="https://enzimotors.com/faqs/" target="_blank">FAQs</a></li>
                <li><a href="https://enzimotors.com/contact-us/" target="_blank">Contact Us</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <header class="main-header">
            <div class="overlay">
                <h1>About Us.</h1>
            </div>           
        </header>
        <section>
            <div class="row">
                <h2>Our Mission</h2>
            </div>
            <div class="row">
                <p>At the Enzi Entrepreneurship Program, our mission is to offer students a unique, immersive experience in the dynamic world of successful startups. Ever wondered what makes a company successful? As an intern at Enzi, you'll get a front-row seat to observe how talent, hard work, and determination are transformed into tangible results. </p>
                <p>But it's more than just observation. By joining our program, you're signing up for an authentic startup experience. You'll become an integral part of a team passionately striving to make a meaningful impact in the world. Our interns don't just watch from the sidelines; they're in the thick of it, building software that could reach millions, presenting insights that could pivot the company’s direction, and engaging with clients who are eager to fuel our growth.</p>
                <p>This is your chance to make a real difference in a company that's already changing lives. At Enzi, we're committed to providing you with the best opportunity to do good - to be part of something bigger than yourself. Join us, and take your first step towards making a significant impact in the world of entrepreneurship.</p>
            </div>

            <div class="row">
                <h2>Our Team</h2>
            </div>
            <div class="row">
                
                <div class="column">
                <div class="card">
                    <div class="img-container">
                    <img src="Bill_Schafer.jpeg" />
                    </div>
                    <h3>Bill Schafer</h3>
                    <p>Chief Executive Officer</p>
                    <div class="icons">
                    <a href="https://www.linkedin.com/in/bill-schafer-a90a8/">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/bill-schafer-a90a8/">
                        <i class="fab fa-linkedin"></i>
                    </a>
                    <a href="mailto:bill@enzimotors.com">
                        <i class="fas fa-envelope"></i>
                    </a>
                    </div>
                </div>
                </div>
                <div class="column">
                <div class="card">
                    <div class="img-container">
                    <img src="my_profile.jpeg" />
                    </div>
                    <h3>Christopher Brokenshire</h3>
                    <p>Program Director</p>
                    <div class="icons">
                    <a href="https://www.linkedin.com/in/christopher-brokenshire/">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/christopher-brokenshire/">
                        <i class="fab fa-linkedin"></i>
                    </a>
                    <a href="https://chrisbrokenshire.com/">
                        <i class="fab fa-github"></i>
                    </a>
                    <a href="mailto:chris@enzimotors.com">
                        <i class="fas fa-envelope"></i>
                    </a>
                    </div>
                </div>
                </div>
                
                
                
            </div>
        </section>
    </main>
    <footer>
        <nav>
            <ul>
                <li><a href="/" target="_blank">Home</a></li>
                <li><a href="https://enzimotors.com/" target="_blank">Enzimotors</a></li>
                <li><a href="/opp" target="_blank">Opportunities</a></li>
                <li><a href="/about_us" target="_blank">About Us</a></li>
                <li><a href="https://enzimotors.com/faqs/" target="_blank">FAQs</a></li>
                <li><a href="https://enzimotors.com/contact-us/" target="_blank">Contact Us</a></li>
            </ul>
        </nav>
    </footer>
    

    <script>
        let lastScrollTop = 0;
        const delta = 5; 
        const headerHeight = document.querySelector("header").offsetHeight; 

        window.addEventListener("scroll", function() {
            let currentScroll = window.pageYOffset || document.documentElement.scrollTop;
            const header = document.querySelector("header");

       
            if (currentScroll > 0) {
                let opacity = 1 - (currentScroll / header.offsetHeight);
                header.style.opacity = opacity >= 0 ? opacity : 0;
            } else {
                header.style.opacity = 1;
            }
        }, false);
    </script>
  </body>
</html>